/*
WDI 06 - Project 1, Cards Against Humanity. style.css file.
*/

/*
* General site styling - START
*/
body {
	background-color: black;
	height: 0em;
	
}
/*
* General site styling - END
*/

/*
* setting the paragraphs font and text positioning - START
*/
p {
	font-family: 'Lato', ultra-bold;
	font-weight: 900;
}
/*
* setting the paragraphs font and text positioning - END
*/

/*
* setting up the table top -START
*/
/*
* setting the background attributes such as image position and card
* layout - START
*/
#background-image {
	position: fixed;
	left: 15em;
	top: 20em;
	width: 30em;
	height: 15em;
	background-image: url('file:///home/scott/code/WDIWeek2Project1/images/social-3f4a4c57.png');
	background-size: contain;
	background-repeat: no-repeat;
}
/*
* setting the background attributes such image position and card
* layout - END
*/

/*
* Score tracker - START
*/
#score-tracker {
	position: fixed;
	left: 1em;
	top: 1em;
	width: 28em;
	height: 15em;
	background-color: black;
	color: white;
	font-size: 1.1em;
}
/*
* Score tracker - END
*/

/*
* The black card sentence space - START
*/
#sentence-space {
	position: fixed;
	left: 40em;
	top: 15em;
	height: 9em;
	width: 18em;
	background-color: black;
	color: white;
	padding: 1em 0.5em 1em 0.5em;
	font-size: 1.2em;
}
/*
* The black card sentence space - END
*/

/*
* the stack of black cards each player draws from to get the initial
* play sentence - START
*/
#black-card-back {
	position: fixed;
	left: 35em;
	top: 17em;
	width: 10em;
	height: 15em;
	background-image: url('file:///home/scott/code/WDIWeek2Project1/images/social-3f4a4c57.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;
	border-radius: 5%;
	border: 1px solid white;
}
/*
* the stack of white cards each player draws from to get the initial
* play sentence - END
*/

/*
* player cards attributes such as size, color and position - START
*/
#handp1 {
	position: fixed;
	left: -2em;
	top: 33em;
}

#handp2 {
	position: fixed;
	left: 10em;
	top: -1em;
}

.player-cards {
	display: inline-block;
	width: 8em;
	height: 12em;
	border-radius: 5%;
	padding-left: 1em;
	margin: 1em;
	color: black;
}

.player-cards .front {
	background-color: white;
	width: 8em;
	height: 12em;
	border-radius: 5%;
	padding-left: 1em;
	margin: 1em;
	color: black;
}

.player-cards .back {
	background-color: white;
	width: 8em;
	height: 12em;
	border-radius: 5%;
	padding-left: 1em;
	margin: 1em;
	color: black;
}
/*
* player cards attributes such as size, color and position - END
*/

/*
* player one card specific attributes related to position - START
*/
/*#cardp1-1 {
	position: fixed;
	left: -2em;
	top: 35em;
}
#cardp1-2 {
	position: fixed;
	left: 9em;
	top: 22em;
}
#cardp1-3 {
	position: fixed;
	left: 20em;
	top: 9em;
}
#cardp1-4 {
	position: fixed;
	left: 31em;
	top: -4em;
}
#cardp1-5 {
	position: fixed;
	left: 42em;
	top: -17em;
}
#cardp1-6 {
	position: fixed;
	left: 53em;
	top: -30em;
}*/
/*
* player one card specific attributes related to position - END
*/

/*
* player two card specific attributes related to position - START
*/
/*#cardp2-1 {
	position: fixed;
	left: 10em;
	top: -79em;
}
#cardp2-2 {
	position: fixed;
	left: 21em;
	top: -92em;
}
#cardp2-3 {
	position: fixed;
	left: 32em;
	top: -105em;
}
#cardp2-4 {
	position: fixed;
	left: 43em;
	top: -118em;
}
#cardp2-5 {
	position: fixed;
	left: 54em;
	top: -131em;
}
#cardp2-6 {
	position: fixed;
	left: 65em;
	top: -144em;
}*/
/*
* player two card specific attributes related to position - END
*/
/*
* setting up the table top - END
*/
