/*
WDI 06 - Project 1, Cards Against Humanity. style.css file.
*/

/*General site styling - START*/
body {
	background-color: black;
	height: 100%;
	
}
/*General site styling - END*/

/*setting the paragraphs font and text positioning - START*/
p {
	font-family: 'Lato', ultra-bold;
	font-weight: 900;
	
	color: white;
}
/*setting the paragraphs font and text positioning - END*/

/*setting up the table top -START*/
/*setting the background attributes such image position and card layout - START*/
#background-image {
	position: fixed;
	left: 15em;
	top: 20em;
	width: 30em;
	height: 15em;
	background-image: url('file:///home/scott/code/WDIWeek2Project1/images/social-3f4a4c57.png');
	background-size: contain;
	background-repeat: no-repeat;
}
/*setting the background attributes such image position and card layout - END*/

/*Score tracker - START*/
#score-tracker {
	position: fixed;
	left: 1em;
	top: 1em;
	width: 28em;
	height: 15em;
	background-color: black;
}

/*Score tracker - END*/

/*the stack of white cards each player draws from to get the initial play sentence - START*/
#white-card-back {
	position: fixed;
	left: 35em;
	top: 17em;
	width: 10em;
	height: 15em;
	background-image: url('file:///home/scott/code/WDIWeek2Project1/images/back-white.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-color: white;
	border-radius: 5%;
}
/*the stack of white cards each player draws from to get the initial play sentence - END*/

/*player cards attributes such as size, color and position - START*/
.player-cards {
	width: 8em;
	height: 12em;
	background-color: black;
	border: 1px solid white;
	border-radius: 5%;
	padding-left: 1em;
	margin: 1em;
}
/*player cards attributes such as size, color and position - END*/

/*player one card specific attributes related to position - START*/
#cardp1-1 {
	position: fixed;
	left: 1em;
	top: 35em;
}
#cardp1-2 {
	position: fixed;
	left: 11em;
	top: 35em;
}
#cardp1-3 {
	position: fixed;
	left: 21em;
	top: 35em;
}
#cardp1-4 {
	position: fixed;
	left: 31em;
	top: 35em;
}
#cardp1-5 {
	position: fixed;
	left: 41em;
	top: 35em;
}
#cardp1-6 {
	position: fixed;
	left: 51em;
	top: 35em;
}
/*player one card specific attributes related to position - END*/

/*player two card specific attributes related to position - START*/
#cardp2-1 {
	position: fixed;
	left: 10em;
	top: 1em;
}
#cardp2-2 {
	position: fixed;
	left: 20em;
	top: 1em;
}
#cardp2-3 {
	position: fixed;
	left: 30em;
	top: 1em;
}
#cardp2-4 {
	position: fixed;
	left: 40em;
	top: 1em;
}
#cardp2-5 {
	position: fixed;
	left: 50em;
	top: 1em;
}
#cardp2-6 {
	position: fixed;
	left: 60em;
	top: 1em;
}
/*player two card specific attributes related to position - END*/
/*setting up the table top - END*/

/*CSS styling for the cards*/

/*
#card {
	margin: 5px;
	width: 100px;
	height: 100px;
	background-color: grey;
}

.front {
	padding: 5px;
} 

.back {
	padding: 5px;
}
*/
